# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Virtual environments
venv/
.env/
.venv/

# isort, black, flake8 cache (chociaż nie zawsze je tworzą)
.cache/
.mypy_cache/
.dmypy.json
.pytest_cache/
.tox/

# Jupyter Notebooks checkpoint files
.ipynb_checkpoints/

# Logs
*.log

# pyproject.lock (jeśli powstaje tymczasowo)
*.lock